:root {
    --primary-color: #0F110C;
    --secondary-color: #612940;
    --accent1-color: #FDECEF;
    --accent2-color: #9D6381;
    --accent3-color: #CECCCC;
    --font1-family: italic;
}

body {
    display: grid;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: blue;
}

header h1 {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

header nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

header nav button {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    transition: letter-spacing 0.3s ease-in-out;
}

header nav button:hover {
    letter-spacing: 5px;
}

main {
    max-width: unset;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 25px;
    place-items: center;
    width: 100%;
    max-width: 350px;
    margin-top: 3rem;
}

.temple-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--secondary-color);
    padding: 15px;
    max-width: 400px;
    background-color: var(--accent1-color);
}

.temple-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

div .grid-container {
    width: 100%;
    max-width: 350px;
    border: 2px solid blue;
}

footer {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: o;
    top: 850px;
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px;
    margin-bottom: 0;
    text-align: center;
}
    
footer p {
    color: rgb(190, 189, 207);
    font-size: 12px;
    font-family: var(--font1-family);
    font-weight: 400;
}

footer #lastModified {
    font-size: 12px;
    color:rgb(210, 195, 195);
}