:root {
    --primary: #2B2D42; 
    --seconday: #8D99AE; 
    --accent-1: #EDF2F4; 
    --accent-2: #EF233C; 
    --accent-3: #D90429;
}

body {
    background-color: rgb(183, 159, 159);
}

header {
    text-align: center;
    font-weight: bold;
    background-color: var(--primary);
    border: 2px solid black;
}

header img {
    width: 100px;
    height: auto;
    float: left;
    background-color: var(--accent-1);
}

header h1 {
    color: white;
    padding: 1rem;
    margin-top: 0;
    font-family: "Cedarville Cursive", cursive;
    font-size: 3rem;
    margin-bottom: 0;
}

main img {
    width: 100%;
    height: auto;
    border: 2px solid black;
}

.hero {
    position: relative;
    margin-top: 1.5rem;
}


main p {
    position: absolute;
    top: 10rem;
    right: 55rem;
    margin: 5rem 1rem 3rem 6rem;
    background-color: var(--seconday);
    opacity: .8;
    font-size: 2rem;
    padding: 1rem;
    border: 1px solid black;
}

main ul{
    position: absolute;
    bottom: 3rem;
    margin: 2rem 4rem 3rem 5.5rem;
    background-color: var(--seconday);
    opacity: .8;
    border: 1px solid black;
}

main li {
    margin: 1rem;
    font-size: 2rem;
}

footer {
    text-align: center;
    background-color: var(--primary);
    color: white;
    padding: .5rem;
    border: 2px solid black;
    margin-bottom: 0;
}

 
