table {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    width: 100%;
}

caption {
    caption-side: bottom;
    font-size: smaller;
    padding: 0.2rem;
}

th, td {
    padding: 0.5em 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    white-space: pre;
    text-align: center;
}

thead {
    color: #fff;
    background: #000;
}

thead th {
    padding: 1rem;
    font-size: larger;
}
        
tbody tr:nth-child(even) {
    background-color: #eee;
}

.blank {
    background-color: black;
}