:root {
    --accent1-color: #331E36;
    --accent2-color: #41337A;
    --accent3-color: #6EA4BF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: white;
    color: black;
}

header {
    background-color: var(--accent2-color);
    color: white;
}

header p {
    font-size: 2rem;
    margin: 1rem;
    padding: 1.5rem;
    color: white;
}

#menu { 
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "≡";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: var(--accent3-color);
    color: white;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-decoration: none;
    color: white;
    text-align: center;
}

.navigation a:hover {
    background-color: var(--accent3-color);
    color: black;
}

.navigation a.active {
    background-color: white;
    color: var(--accent1-color);
    font-weight: bold;
}

.open a {
    display: block;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    background-color: white; 
    color: black;
    text-align: center;
    padding: 1rem;
}

figure {
    background-color: white;
}

figure img {
    width: 200px;
    height: auto;
    display: block;
    border: 2px solid black;
    box-shadow: 2px 2px 5px gray;
}

figcaption {
    text-align: center;
    font-size: 15px;
    font-weight: bold; 
    padding: 15px;
}

footer {
    background-color: var(--accent1-color);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

#currentYear, #lastModified {
    color: yellow;
}