h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    width: 100%;
    background: black;
    animation: fade 5s;
}

@keyframe fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 5;
    }
}
    