body {
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: navy;
    padding: 5em;
}

nav {
    background-color: rgb(79, 73, 73);
    color: white;
    margin: 0;
    max-width: 100%;
}


nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
}


main {

}

footer {

}