* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(88, 84, 87);
    padding-bottom: 0;
    padding-top: 4rem;
    color: white;
    font-weight: 2rem;
    border: 1px solid black;
}

header h1 {
    padding-bottom: 2rem; 
    padding-left: 5rem;
}

nav {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom right, rgb(3, 3, 3), rgb(208, 9, 115));
    color: white;
    max-width: 100%;
    margin: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav li {
    margin-left: 5rem;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.2rem;
}

nav a:hover {
    text-decoration: overline;
    color:rgb(13, 13, 13);
}

main {
    display: grid;
    grid-template-columns: minmax(600px, 20%) 1fr;
    padding: 2rem;
    gap: 8px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
}

.left-card {
    display: grid;
    padding-top: 0;
    padding-bottom: 30rem;
    background: none;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;

}  

.left-card h1 {
    background: rgb(88, 84, 87);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

h1 p {
   padding: 2em 2em 2em 2em; 
}

img {
    float: right;
    width: 40%;
    border: 1px solid black;
}

h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 img {
    float: left;
}

.right-card {
    display: grid;
    padding-top: 0;
    padding-bottom: 30rem;
    background: none;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
} 

.right-card {
    background: rgb(88, 84, 87);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0 0;
}


footer {

}