.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-style: normal;
}

.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(208, 202, 205)
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(88, 84, 87);
    padding: 0;
    margin: 0;
    color: white;
    font-size: 25px;
    border: 1px solid black;
}

header h1 {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

nav {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom right, rgb(3, 3, 3), rgb(208, 9, 115));
    color: white;
    max-width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-around;
}

nav a {
    display: flex;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(13, 13, 13);
}

main {
    display: grid;
    grid-template-columns: minmax(600px, 20%) 1fr;
    padding: 2rem;
    gap: 8px;
    border-radius: 10px;
}

.left-card {
    display: grid;
    padding-top: 0;
    padding-bottom: 3em;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
}

h1 {
    background: rgb(88, 84, 87);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

p {
    padding: 3em;
    font-family: "DM Serif Text", serif;
    font-weight: 500;
    font-style: normal;
}

h2 img {
    float: right;
    width: 40%;
    border: 1px solid black;
    margin: 1em;
}

h2 { 
    display: grid;
    color: black;
}

.right-card {
    display: grid;
    padding-top: 0;
    padding-bottom: 3em;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
}

.right-card h1 {
    display: grid;
    background: rgb(88, 84, 87);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.right-card ul {
    list-style-type: disc;
    padding: 1rem;
}

.right-card li {
    margin: 1rem 0;
}

.right-card hide {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.right-card li a {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(social.png);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: type;
}

.right-card li a.DevComunity { background-position: 0 0; }
.right-card li a.SmashingMagazine { background-position: 0, -40px; }
.right-card li a.CSSTricks {background-position:0, -80px; }
.right-card li a.WrSchools {background-position: 0, 120px;}
.right-card li a.Udemy {background-position:0, 160px; }
.right-card li a.ImagePlaceHolder {background-position: 0 -299px; }