body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
}
  
.header {
    background: darkgray;
    padding: 2rem;
    grid-column: 1 / 4;
}
  
.navbar {
    background: black;
    grid-column: 1 / 2;
    color: white;
}

.main {
    background: rgb(236, 233, 233);
}
  
.right-sidebar {
    background: white;
    color:black;
}
  
.footer {
    background: black;
    padding: 2rem;
    text-align: center;
    color: white;
}
  
 