body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
  }
  
  .header .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: darkgray;
    padding: 2rem;
    grid-column: 1 / 4;
  }
  
  .header .box {
    flex: 1 1 150px;
    margin: 5px;
  }
  
  .navbar .parent {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    background: black;
    grid-column: 1 / 2;
    color: white;
  }
  
  .navbar .box {
    flex: 1 1 150px;
    margin: 5px;
  }
  
  .main {
    background: rgb(236, 233, 233);
    grid-column: 2 / 3;
  }
  
  .right-sidebar {
    background: white;
    color: black;
    grid-column: 3 / 4;
  }
  
  .footer {
    background: black;
    padding: 2rem;
    text-align: center;
    color: white;
    grid-column: 1 / 4;
  }
  
 