body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
}

header {
    background: rgb(70, 69, 69);
    padding: 2rem;
    grid-column: 1 / 4;
}

.left-sidebar {
    background: rgb(190, 187, 187);
    grid-column: 1 / 2;
}

main {
    background: rgb(146, 143, 143);
    grid-column: 2 / 3;
}

.right-sidebar {
    background: white;
    grid-column: 3 / 4;
}

footer {
    background:rgb(70, 69, 69);
    padding: 2 wheatrem;
    text-align: center;
    grid-column: 1 / 4;
}

.left-sidebar,
.right-sidebar {
    padding: 1rem;
}