:root {
    --primary-color: #003f5c;
    --secondary-color: #58508d;
    --accent1-color: #bc5090;
    --accent2-color: #ff6361;
    --accent3-color: #ffa600;
}

body {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

header {
    background-color: black;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: 0;
    padding: 1rem;
}

#course-title {
    display: block;
    margin-right: 1rem;
    color: white;
}

#my-name {
    color: var(--accent1-color);
    text-shadow: 1px 1px 3px gray;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: var(--accent3-color);
    padding: .2rem;
    border: 1px solid black;
}

nav a {
    color: var(--accent3-color);
    text-shadow: 2px 2px 5px black;
    text-decoration: none;
    font-size: 2.6rem;
    font-weight: 800;
    transition: transform 0.3s ease;
    padding: .5rem;
}

nav a:hover {
    color: black;
    text-shadow: 2px 2px 5px rgb(135, 133, 133);
    transform: tranlateY(-5px);
    animation: jump 0.16s ease;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

main {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
    padding: 1rem;
    margin: 0 auto;
    background-color: rgb(230, 221, 221);
}

.card {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 2rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.card h2 {
    background-color: var(--accent1-color);
    text-align: center;
    margin-top: 0;
    font-size: 2rem;
    color: black;
    text-shadow: 1px 1px 2px rgb(112, 111, 111);
    padding: 1rem;
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-radius: 9px;
}

.profile img {
    float: right;
    max-width: 200px;
    height: auto;
    border: 2px solid black;
    box-shadow: 2px 2px 5px gray;
    margin: 2rem;
}

.profile p {
    margin: 3rem;
    font-size: 1.2rem;
    padding: 1rem;
}

.flag {
    margin: 2rem;
}

.flag h3, h4 {
    text-align: center;
}

.flag h4 {
    font-weight: bold;
}

.flag img {
    float: left;
    max-width: 240px;
    height: auto;
    margin: 2rem;
    border: 2px solid black;
    box-shadow: 2px 2px 5px gray;
}

.flag p {
    margin: 1rem;
    padding: 2rem;
    font-size: 1.2rem;
}

.card a {
    text-decoration: none;
    font-size: 2rem;
    line-height: 3;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}