
:root {
    --color1: #E4007C; /*mexican pink*/
    --color2: #C60F7B; /* darker pink*/
    --color3: #003249; /*green blue*/
    --color4: #D6D1CD; /*gray*/
    --font: "Caacupe One", sans-serif;
}

header {
    background-color: var(--color1);
}

#course-title {
    display: block; /*in order to center the logo and text. */
    color: var(--color3);
    text-align: center;
    padding-top: 1.5rem;
    font-family: var(--font);
}


nav {
    display: flex; /*required*/
}

nav a:hover { /*required*/
    color: green;
}

main {
    max-width: 1200px; /*limited width and centered on the screen horizontally, required */
}

/*layout column cards using grid*/