:root {
    --primary-color: #e01071;
    --secondary-color: #333333;
    --contrast-1: #ffffff;
    --contrast-2: #7f2476;
    --contrast-3: #e7a2da;
}

span, header {
    display: block;
}

header {
    position: relative; 
    text-align: center;
    padding: 1rem;
}

span {
    background-color: var(--contrast-3);
}

#course-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    text-align: left;
    font-size: 30px;
    font-weight: 400;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 15rem;
}

.name {
    position: absolute;
    top: -10rem;
    right: .5rem;
    font-size: 2rem;
    color: black;
    white-space: nowrap;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
}

a {
    color: white;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 25px;
    font-weight: 450;
}

main {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 3rem;
}

