@media (min-width: 1000px) {
    .hero {
        position: relative;
        height: 500px;
        overflow: hidden;
    }

    .hero img {
        height: 100%; 
        width: 100%;
        object-fit: cover;
    }

    .labels {
        position: absolute;
        top: 8rem;
        left: 4rem;
        background-color: gray;
        opacity: .8;
        padding: 1rem;
    }

    .labels, .weather {
        border: 1px solid black;
        box-shadow: 2px 2px 5px gray;
    }

    .weather {
        position: absolute;
        bottom: 10rem;
        right: 2rem;
        background-color: gray;
        opacity: .8;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .weathe-icon {
        display: block;
    }

    .weather-icon img {
        display: block;
        width: 80px;
        height: auto;
    }

    .weather-emoji {
        display: none;
    }

    .labels h2, .weather h2 {
        color: white;
        background-color: black;
        margin: 0;
        padding: .5rem;
        text-align: center;
    }

    .labels, .weather p, .weather-icon div {
        padding: 1rem;
    }


}