body { 
    display: grid;
}

body {
    padding: 0;
}

header {
    color: black;
    background-color: rgb(161, 86, 86);
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

header h2 {
    text-align: center;
    padding: 2rem;
}

.hero {
    display: block;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 2rem;
    background-color:black;
}

h2, ul {
    text-align: center;
    list-style: none;
}

img #WweatherIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: auto;
}

footer  {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(161, 86, 86);
}
