:root {
    --first-color: #005F73;
    --second-color: #001219;
}

header, main, footer {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

header {
    text-align: center;
}

h1 {
    color: white;
}

header, footer {
    background-color: var(--first-color);
}

.hero img {
    width: 100%;
    border: 1px solid black;
}

.labels {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

.labels .fact {
    font-size: 1rem;
}

.labels ul {
    list-style: none;
    padding: 0;
}

.labels li {
    display: flex;
    gap: 1rem;
    padding: .5rem 0;

}

.labels span {
    font-weight: bold;
}

.weather {
    padding: 1rem;
    background-color: white;
    text-align: center;
}

.weather-icon img {
    display: none;
}

.weather-emoji {
    display: block;
}

.weather-emoji::after {
    content: "🌦️";
    font-size: 2rem;
}


footer {
    color: white;
    text-align: center;
    padding: 0;
    border: 1px solid black;
    width: 100%;
    font-size: 1rem;
}

#currentyear,
#lastModified {
    color: white;
}