* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer, figure {
    max-width: 1000px;
}

body {
    color: white;
    padding: 1.5rem;
}

header {
    width: 100%;
    color: white;
    text-align: center;
    margin: 0 0 0;
    padding: 1.5rem;
    position: relative;
    background-color: rgb(102, 82, 159);
    border: 1px solid black;
}

.title-1 {
    float: left;
    margin-left: 1.5rem;
    margin-top: .5rem;
    color: white;
    text-align: left;
    font-size: 2rem;
    background-color: rgb(102, 82, 159);
}

.navigation a {
    font-size: 1.5rem;
}

@media screen and (max-width: 640px) {
    .navigation {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .navigation a {
        display: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-right: 0;
        text-align: right;
        text-decoration: none;
        color: white;
        border-bottom: 1px solid black;
        max-width: 100%;
    }

    .navigation.open a {
        display: block;
    }

    #menu {
        font-size: 2rem;
        border: none;
        background: none;
        color: white;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    #menu::before {
        content: "≡";
    }

    .figures {
        display: grid;
        grid-template-columns: 1fr;
    }
}

main {
    position: relative;
}

.title-2 {
    position: absolute;
    top: 2rem;
    left: 29rem;
    text-align: center;
    font-size: 2rem;
    color: black;
}

.figures { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: white;
    padding-top: 6rem;
}

figure {
    padding: 1rem;
    background-color: white;
}

figure img {
    width: 300px;
    height: 150px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px gray;
    margin: 1rem;
}

figcaption {
    background-color: white;
    color: rgb(102, 82, 159);
    font-size: 15px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

footer {
    width: inherit;
    background-color: rgb(102, 82, 159);
    color: white;
    text-align: center;
    padding: 1rem;
}