:root {
    --accent1-color: #331E36;
    --accent2-color: #41337A;
    --accent3-color: #6EA4BF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: white;
    color: black;
}

header {
    background-color: var(--accent2-color);
    color: white;
}

header p {
    font-size: 2rem;
    margin: 1rem;
    padding: 1.5rem;
    color: white;
}

#menu { 
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "≡";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: var(--accent3-color);
    color: white;
    margin: 0;
    padding: 0;
    background-color: none;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-decoration: none;
    color: white;
    text-align: center;
}

.navigation a:hover {
    background-color: var(--accent3-color);
    color: black;
}

.navigation a.active {
    background-color: white;
    color: var(--accent1-color);
    font-weight: bold;
}

.open a {
    display: block;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 1rem;
    weight: bold;
    background-color: white; 
    color: black;
    text-align: cneter;
}

figure {
    display: grid;
}