@media only screen and (min-width: 500px) {
    h1 {
        text-align: center;
    }

    button {
        display: none;
    }

    #menu {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        gap: 1rem;
    }

    nav a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        padding: 1rem;
    }

    
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    figure {
        text-align: center;
    }
}