* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer, figure {
    max-width: 640px;
    margin: 1rem auto;
}

body {
    color: white;
    padding: 1.5rem;
}

header {
    background-color: rgb(102, 82, 159);
    color: white;
    text-align: center;
}

@media screen and (max-width: 640px) {
    nav {
        float: right;
    }

    nav a {
        text-decoration: none;
        color: white;
        text-align: center;
    }
}

#menu::before {
    content: "≡";
}

main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
}

figure {
    padding: 1rem;
    background-color: white;
}

figure img {
    max-width: 400px;
    height: 400px;
}

footer {
    background-color: rgb(102, 82, 159);
    color: white;
    text-align: center;
    padding: 1rem;
}