@media screen and (min-width: 700px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    .navigation {
        flex-direction: row;
        justify-content: center;
    }

    .navigation a {
        display: block;
    }

    #menu {
        display: none;
    }
}