:root {
    --font-family: 'Roboto'; 
}

body {
    font-family: var(--font-family);
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 0;
    max-width: 640px;
}

section {
    border: 5px solid#bbbdd8;
    padding: 1rem;
}

footer {
    width: 100%;
    background-color: rgb(120, 120, 168);
    padding: 1rem;

}

